<script>
	let videoSource = null;
	let loading = false;
	let timer = null; // Variable to store the timer

	let oldImageData;
	let newImageData;
	let compareData;

	const obtenerVideoCamara = async () => {
		try {
			loading = true;
			const stream = await navigator.mediaDevices.getUserMedia({
				video: true
			});
			videoSource.srcObject = stream;
			videoSource.play();
			loading = false;

			// Start the timer to capture a picture every 10 seconds
			//timer = setInterval(capturarFoto, 10000);


		} catch (error) {
			console.log(error);
		}
	};

	const compDataLoad = () => {
		const canvas = document.createElement('canvas');
		canvas.width = videoSource.videoWidth;
		canvas.height = videoSource.videoHeight;
		const context = canvas.getContext('2d');
		context.drawImage(videoSource, 0, 0, canvas.width, canvas.height);
		context.imageSmoothingEnabled = false;
		context.mozImageSmoothingEnabled = false;

		var pixelImage = new Image();


		var currImageData = context.getImageData(0, 0, canvas.width, canvas.height);

		if(typeof(oldImageData) !== undefined){
			oldImageData = currImageData;
		}
		newImageData = currImageData;
	}



// 	// MAIN function
// function pixelate(v) {

// // if in play mode use that value, else use slider value
// var size = (play ? v : blocks.value) * 0.01,
// 	// cache scaled width and height
// 	w = canvas.width * size,
// 	h = canvas.height * size;

// console.log(size)
// // draw original image to the scaled size
// ctx.drawImage(img, 0, 0, w, h);

// // then draw that scaled image thumb back to fill canvas
// // As smoothing is off the result will be pixelated
// ctx.drawImage(canvas, 0, 0, w, h, 0, 0, canvas.width, canvas.height);
// }

	const capturarFoto = () => {
		// Create a canvas element to draw the video frame
		const canvas = document.createElement('canvas');
		canvas.width = videoSource.videoWidth;
		canvas.height = videoSource.videoHeight;
		const context = canvas.getContext('2d');

		// Draw the current video frame onto the canvas
		context.drawImage(videoSource, 0, 0, canvas.width, canvas.height);

		// Get the image data from the canvas as a base64-encoded string
		const imageData = canvas.toDataURL();

		// Do something with the captured image, e.g., send it to the server
		// You can replace the console.log statement with your own implementation
		console.log('Captured image:', imageData);
	};

	obtenerVideoCamara(); // Call the function immediately
</script>

<div>
	{#if loading}
		<h1>LOADING</h1>
	{/if}
	<!-- svelte-ignore a11y-media-has-caption -->
	<video bind:this={videoSource} id="flipped-video" />
</div>
