<script>
	import { onMount, onDestroy } from 'svelte';
	import * as faceapi from 'face-api.js'
  
	let videoStream;
	let canvas;
	let context;
	let snapshotInterval;
  
	onMount(() => {
	  // Get references to the video and canvas elements
	  videoStream = document.getElementById('video');
	  canvas = document.getElementById('canvas');
	  context = canvas.getContext('2d');
  
	  // Request access to the webcam
	  navigator.mediaDevices.getUserMedia({ video: true })
		.then((stream) => {
		  // Set the video source to the webcam stream
		  videoStream.srcObject = stream;
  
		  // Wait for the video to load metadata
		  videoStream.onloadedmetadata = () => {
			// Start capturing snapshots every 10 seconds
			snapshotInterval = setInterval(captureSnapshot, 10000);
		  };
		})
		.catch((error) => {
		  console.error('Error accessing the webcam: ', error);
		});
	});
  
	onDestroy(() => {
	  // Stop the snapshot interval and video stream when the component is destroyed
	  clearInterval(snapshotInterval);
  
	  if (videoStream) {
		const stream = videoStream.srcObject;
		const tracks = stream.getTracks();
		tracks.forEach((track) => track.stop());
	  }
	});
  
	async function captureSnapshot() {
	  // Draw the current video frame onto the canvas
	  context.drawImage(videoStream, 0, 0, canvas.width, canvas.height);
	  const input = document.getElementById('canvas')
	  const detections = await faceapi.detectAllFaces(input);
	  console.log(detections)
	}
  </script>
  
  <video id="video" width="640" height="480" autoplay></video>
  <canvas id="canvas"></canvas>
  